<!DOCTYPE html>
<html>
    <head>
        <title>hello</title>
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>